dash_cytoscape==0.2.0
neo4j==4.4.2
numpy==1.19.5
requests==2.25.1
validators==0.18.2
Werkzeug==2.0.2
WTForms==3.0.0
Flask==2.0.2
graphdatascience==1.0.0
dash==2.3.1
dash_bootstrap_components==0.12.2
dash_daq==0.5.0
rdflib==5.0.0
Flask_WTF==1.0.0
dash_bio==0.5.0
networkx==2.5
pysbolgraph==0.2.0
dashboard==0.0.6
Pillow==9.1.1
scikit_learn==1.1.1
