Bio==1.5.3
dash==2.7.1
dash_bio==1.0.2
dash_bootstrap_components==1.2.1
dash_cytoscape==0.3.0
dash_daq==0.5.0
Flask==2.2.2
Flask_WTF==1.0.1
fuzzywuzzy==0.18.0
graphdatascience==1.5
neo4j==5.2.1
networkx==2.8.8
Pillow==9.4.0
pysbolgraph==0.2.0
rdflib==6.2.0
requests==2.25.1
spacy==3.4.4
SPARQLWrapper==2.0.0
validators==0.20.0
Werkzeug==2.2.2
WTForms==3.0.1
