@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700");
details {
    margin: 2rem;
}

@media (min-width: 1200px) {
    .modal-xlg {
        width: 90%;
    }
}

#submit_remove_graph,#submit_sbh_graph,#submit_paste_graph,#submit_upload_graph {
    display: none;
}

.modal_enhancer {
    width: 90%;
}

.panel {
    padding: 2px 18px;
    display: none;
    background-color: white;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.sub_graph{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin: 20px;
    padding: 20px;
    background-color: white;
}

.dash-toolbar {
    margin: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.sub_graph {
    max-width: 66%;
}

.navbar-custom {
    background-color: rgb(204, 204, 204);
}

.detail_p {
    margin: 2rem;
}

.export_button {
    margin: 2%;
}

.tool_image {
    width: 10%;
    height: 10%;
}

.help-tip {
    position: relative;
    width: 25%;
    height: 25%;
    text-align: center;
    background-color: #eabcbc;
    border-radius: 50%;
    cursor: pointer;
    margin: 1px;
}

.help-tip:before {
    content: '?';
    font-weight: bold;
    color: #fff;
}
.info-tip {
    position: relative;
    width: 25%;
    height: 25%;
    text-align: center;
    background-color: #eae5bc;
    border-radius: 50%;
    cursor: pointer;
    margin: 1px;
}

.info-tip:before {
    content: 'I';
    font-weight: bold;
    color: #fff;
}

.adv-tip {
    position: relative;
    width: 25%;
    height: 25%;
    text-align: center;
    background-color: #bceae4;
    border-radius: 50%;
    cursor: pointer;
    margin: 1px;
}

.adv-tip:before {
    content: 'A';
    font-weight: bold;
    color: #fff;
}

.manual-tip {
    position: relative;
    width: 25%;
    height: 25%;
    text-align: center;
    background-color: #b0fabc;
    border-radius: 50%;
    cursor: pointer;
    margin: 1px;
}

.manual-tip:before {
    content: 'M';
    font-weight: bold;
    color: #fff;
}

.graph-legend {
    text-align: left;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 90%;
}

.graph-legend .legend-scale ul {
    margin: 0;
    margin-bottom: 5px;
    padding: 0;
    float: left;
    list-style: none;
}

.graph-legend .legend-scale ul li {
    font-size: 80%;
    list-style: none;
    margin-left: 0;
    line-height: 18px;
    margin-bottom: 2px;
}

.graph-legend ul.legend-labels {
    padding: 1%;
}

.graph-legend ul.legend-labels li span {
    display: block;
    float: left;
    height: 16px;
    width: 30px;
    margin-right: 5px;
    margin-left: 0;
    border: 1px solid #999;
}

.graph-legend .legend-source {
    font-size: 70%;
    color: #999;
    clear: both;
}

.graph-legend a {
    color: #777;
}

#row-main {
    height: 100vh;
}

#content {
    -webkit-transition: width 0.3s ease;
    -moz-transition: width 0.3s ease;
    -o-transition: width 0.3s ease;
    transition: width 0.3s ease;
}

.sidebar {
    background-color: rgb(248, 249, 250, 0);
    -webkit-transition: margin 0.3s ease;
    -moz-transition: margin 0.3s ease;
    -o-transition: margin 0.3s ease;
    transition: margin 0.3s ease;
    height: 100%;
}

#sidebar-left {
    min-width: 10%;
    overflow-y: scroll;
}

#man_toolbar {
    padding-right: 50px;
    min-width: 10%;
}

.modal-content {
    width: max-content;
}

.ms-n5 {
    margin-left: -40px;
}

#cypher-graph{
    height: 75vh;
}